$primary-color: #fc556f;
$secondary-color: #fd9c84;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);
$text-color: #291667;
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: column,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}
@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}
@mixin minWidth($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}
