.image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: 1px solid #fc556f;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
  visibility: visible;
}
.checkbox__label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fc556f;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.2rem;
}
.checkbox__label::after {
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 6px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s linear;
}

.radio {
  display: inline-block;
  margin-top: 10px;
}
.radio__input {
  display: none;
}
.radio__input:checked + .radio__label::before {
  background-color: #fc556f;
  box-shadow: 0 0 0 2px #eee, 0 0 0 4px #fc556f;
}
.radio__label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.radio__label::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 0 0 0 2px #eee, 0 0 0 4px #b7c1cb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(4px, -50%);
}

.checkbox2__input {
  display: none;
}
.checkbox2__input:checked + .checkbox2__label {
  background-color: #fc556f;
}
.checkbox2__input:checked + .checkbox2__label .checkbox2__spin {
  transform: translateX(50px);
}
.checkbox2__label {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s linear;
}
.checkbox2__spin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s linear;
}

body {
  font-family: "Poppins", sans-serif;
}

.signup {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.signup__content, .signup__image {
  width: calc(50% - 2.5rem);
}
.signup__heading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.signup__caption {
  color: #fc556f;
  position: relative;
  padding-left: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.signup__caption::before {
  content: "";
  width: 3rem;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fc556f;
  position: absolute;
}
.signup-social {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 4rem;
}
.signup-social__item {
  padding: 1rem 1.5rem;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #291667;
  width: calc(50% - 1rem);
}
.signup-social__icon {
  margin-right: 20px;
}
.signup-form__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.signup-form__row .signup-form__group {
  width: calc(50% - 1rem);
}
.signup-form__label {
  color: #291667;
  display: inline-block;
  margin-bottom: 0.75rem;
  transform: translateX(0.75rem);
  cursor: pointer;
}
.signup-form__input {
  padding: 1rem 1.5rem;
  border: 1px solid #eee;
  border-radius: 10px;
  display: block;
  width: 100%;
  transition: all 0.2s linear;
}
.signup-form__input:focus {
  background-color: white;
  border-color: #fc556f;
}
.signup-form__input:focus + .signup-form__check {
  color: white;
  background-color: #fc556f;
}
.signup-form__term {
  margin-top: 2rem;
}
.signup-form__term input {
  display: none;
}
.signup-form__term input:checked + label::before {
  opacity: 1;
  visibility: visible;
}
.signup-form__term input:checked + label::after {
  border-color: #fc556f;
  background-color: #fc556f;
}
.signup-form__term label {
  position: relative;
  cursor: pointer;
  padding-left: 40px;
  z-index: 1;
}
.signup-form__term label::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  background-color: #eeeeee;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  transition: all 0.2s linear;
  z-index: -1;
}
.signup-form__term label::before {
  content: "";
  width: 12px;
  height: 7px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  position: absolute;
  left: 5px;
  top: 6px;
  transform: rotate(-45deg);
  z-index: 3;
}
.signup-form__submit {
  margin-top: 2rem;
  width: 5rem;
  height: 5rem;
  color: white;
  border: none;
  border-radius: 2rem;
  background-color: #fc556f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(252, 85, 111, 0.5);
}
.signup-form__validate {
  position: relative;
}
.signup-form__validate .signup-form__input {
  padding-right: 35px;
}
.signup-form__check {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #eee;
  color: #291667;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s linear;
}
.signup__ready {
  margin-top: 2rem;
}
.signup__ready a {
  display: inline-block;
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fc556f;
}

@media screen and (max-width: 1439px) {
  .signup__content {
    width: calc(60% - 20px);
  }
  .signup__image {
    width: calc(40% - 20px);
  }
}
@media screen and (max-width: 1279px) {
  body {
    padding: 20px;
  }
  .signup {
    padding: 1.25rem;
  }
  .signup__content {
    width: 100%;
  }
  .signup__image {
    display: none;
  }
  .signup-social {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .signup-social__item {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .signup-social__item:not(:last-child) {
    margin-bottom: 1rem;
  }
  .signup-form__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .signup-form__row .signup-form__group {
    width: 100%;
  }
  .signup-form__row .signup-form__group:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.grid-system {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  grid-template-areas: "h1 h1 h2 h3" "h1 h1 h6 h6" "h4 h5 h6 h6";
}
.grid-system__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-system__item:first-child {
  grid-area: h1;
}
.grid-system__item:nth-child(4) {
  grid-area: h4;
}
.grid-system__item:nth-child(5) {
  grid-area: h5;
}
.grid-system__item:last-child {
  grid-area: h6;
}

.work {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}
.work__title {
  color: #1a0a3b;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.work__title::before {
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #00c889;
  border-radius: 10px;
}
.work__filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1rem;
}
.work-tab {
  display: flex;
  column-gap: 10px;
}
.work-tab-item {
  padding: 0.25rem 1rem;
  border: 1px solid #00c889;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  transition: all 0.2s linear;
}
.work-tab-item:hover {
  background-color: #00c889;
  color: #fff;
}
.work__all {
  padding: 7px 7px;
  background-color: rgba(0, 200, 137, 0.177);
  text-decoration: none;
  color: #00c889;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
}
.work__list {
  display: flex;
  margin-left: -15px;
  flex-wrap: wrap;
}
.work__item {
  width: calc(25% - 15px);
  height: 250px;
  margin-left: 15px;
}
.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .work__item {
    width: calc(50% - 15px);
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .work__item {
    width: 100%;
  }
  .work__filter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .work-tab {
    flex-wrap: wrap;
    justify-content: center;
  }
  .work-tab-item {
    margin-bottom: 0.75rem;
  }
}
.post {
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.post__left, .post__right {
  width: calc(50% - 10px);
}
.post__media {
  height: 300px;
  position: relative;
  margin-bottom: 2rem;
}
.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.post__image--small {
  width: 8rem;
  height: 6rem;
  margin-right: 1rem;
  flex-shrink: 0;
}
.post__category {
  position: absolute;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 100rem;
  background-image: linear-gradient(to right, #fc556f, #fd9c84);
  top: 1.25rem;
  left: 1.25rem;
  z-index: 2;
}
.post__icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 50%;
  background-image: linear-gradient(to right, #fc556f, #fd9c84);
  color: white;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  transform: translateY(50%);
}
.post-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0.75rem;
}
.post-author__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.75rem;
}
.post-author__name {
  color: #a7a7a7;
  position: relative;
  margin-right: 1.75rem;
  padding-right: 1.75rem;
}
.post-author__name::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fc556f;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.post__date {
  color: #999;
  font-size: 14px;
}
.post__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.post__title--small {
  margin-bottom: 5px;
  font-size: 1rem;
}
.post__desc {
  font-size: 14px;
  line-height: 1.6;
  color: #999;
}
.post__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.post__item:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #a9a8a8;
}
.post__content {
  width: 100%;
  flex-grow: 1;
}
.post__link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  body {
    padding: 1rem;
  }
  .post__left, .post__right {
    width: 100%;
  }
  .post__left {
    margin-bottom: 15px;
  }
  .post__image--small {
    width: 6rem;
    height: auto;
  }
  .post__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  text-transform: uppercase;
  font-weight: 600;
}
table td,
table th {
  font-size: 0.75rem;
  padding: 1.25rem;
  text-align: center;
  color: #8c94a7;
}
table thead tr {
  border-bottom: 2px solid #ccc;
}
table .desc {
  white-space: nowrap;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
table .status {
  display: inline-block;
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 100rem;
}
table .status--active {
  color: green;
  background-color: rgba(0, 128, 0, 0.2);
}
table .action-icon {
  cursor: pointer;
  margin: 0 5px;
}
table .toggle-input {
  display: none;
}
table .toggle-input:checked + .toggle-label {
  background-color: #123ea5;
}
table .toggle-input:checked + .toggle-label::before {
  background-color: #135aff;
  transform: translate(31px, -50%);
}
table .toggle-label {
  width: 3.2rem;
  height: 4px;
  border-radius: 1rem;
  background-color: #ccc;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}
table .toggle-label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eee;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .table {
    width: 100%;
    overflow-x: auto;
  }
  table .action {
    display: flex;
  }
  table .action-icon {
    cursor: pointer;
    margin: 0 5px;
  }
}
.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid red;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  top: -1px;
  left: -1px;
  background-color: red;
}

.circle-process span {
  font-size: 1rem;
  color: red;
}

.boxed {
  width: 50rem;
  height: 50rem;
}
.boxed span {
  font-size: 20px;
  line-height: 1.2;
}

.dropdown {
  width: 25rem;
  margin: 2rem auto 0;
  position: relative;
}
.dropdown__select {
  padding: 1.25rem 2rem 1.25rem 2rem;
  background-color: #42a7fe;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
.dropdown__text {
  margin-left: 2rem;
}
.dropdown__caret {
  margin-left: auto;
}
.dropdown__item {
  padding: 1.25rem 2rem 1.25rem 2rem;
  display: flex;
  align-items: center;
  color: #b3bbce;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: color 0.1s linear;
}
.dropdown__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.dropdown__item:hover {
  color: #74809d;
  border-left-color: #42a7fe;
}
.dropdown__list {
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  margin-top: 1.25rem;
  width: 100%;
  background-color: #fff;
  transition: all 0.2s linear;
}
.dropdown__list::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 1.2rem;
  transform: translateY(-50%) rotate(45deg);
  box-shadow: -8px -10px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.dropdown__list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 1.25rem;
  transform: translateY(-100%);
}
.dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
